* {
  margin: 0;
  padding: 0;
}

body {
  /* background: #53c49544; */
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 30px;
  margin: 0;
}

.header div {
  color: #224a39;
  font-size: 20px;
}

main {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Jua", sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}

.sub-title {
  font-family: "Jua", sans-serif;
  font-size: 25px;
  font-weight: 300;
  margin: 10px;
  color: rgba(0, 0, 0, 0.6);
}

.btn {
  font-family: "Jua", sans-serif;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: #2a9d8f;
  color: #fff;
  transform: translateY(-4px);
}

button:active {
  transform: translateY(-1px);
}

.start {
  margin: 30px;
}

.container {
  border-radius: 20px;
  min-width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#webcam-container {
  width: 200px;
  height: 200px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: 4px solid rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  overflow: hidden;
}

#label-container {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar {
  margin: 4px;
  width: 100%;
  max-width: 250px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  border-radius: 15px;
  overflow: hidden;
}

.bar_main {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #2ec4b6;
}

.bar_bg {
  width: 100%;
  height: 40px;
  background-color: #cbf3f0;
}

.bar_text {
  position: absolute;
  top: 0;
  padding: 10px;
  font-family: "Jua", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

p {
  margin: 0;
  padding: 5px;
  font-family: "Jua", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.analystic {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

@media screen and (max-width: 640px) {
  .analystic {
    flex-direction: column;
    justify-content: center;
  }
}

.drop {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0;
}

.snow {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: rgb(57, 131, 226);
  box-shadow: 0 0 10px #fff;
}

.animate {
  animation: falling 8.5s infinite ease-in;
}

@keyframes falling {
  0% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: 100vh;
    opacity: 0;
  }
}

.hidden {
  display: none !important;
}

.loading {
  padding: 0;
  width: 100vw;
  height: 80vh;
  font-family: "Jua", sans-serif;
  font-size: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingText {
  margin: 20px;
  color: #224a39;
}

.loader {
  border: 16px solid #cadfdb; /* Light grey */
  border-top: 16px solid #48947e; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.quote {
  position: absolute;
  bottom: 30px;
  font-family: "Jua", sans-serif;
  font-size: 20px;
  opacity: 1;
}

.fadeout {
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  opacity: 0;
}

.fadein {
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  opacity: 1;
}

.countdown {
  margin-top: 2em;
  margin-bottom: 3em;
  min-width: 200px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px dotted #224a39;
  border-radius: 20px;
  color: #2f4858;
  font-family: "Jua", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.countdown_title {
  padding: 0;
  margin: 10px;
}

.countdown_content {
  color: #48947e;
  font-size: 30px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gif {
  max-width: 100%;
  min-width: 50%;
}

.madeby {
  font-family: "Jua", sans-serif;
  position: fixed;
  bottom: 0;
  font-size: 15px;
  font-weight: 300;
}

.dragNdrop {
  border: 4px solid rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  width: 100%;
  max-width: 600px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dragNdrop:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border: 5px dotted rgba(0, 0, 0, 0.6);
}

.dragNdrop label {
  font-family: "Jua", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}

.drop-zone--over {
  background-color: rgba(0, 0, 0, 0.2);
  border: 5px dotted rgba(0, 0, 0, 0.6);
}
